[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numba = ">=0.52.0"
numpy = ">=1.21.0"

[dev-packages]
flake8 = "*"
mypy = ">=0.981"
commitizen = "*"
pre-commit = "*"
pipenv-setup = {extras = ["black"], version = "*"}
twine = "*"
build = "*"

[requires]
python_version = "3.10"
